

.contenedorPrincipal {
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
}

.formOrdenCompra {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 10px;
}

.formOrdenCompra input[type='text'],
.formOrdenCompra input[type='email'],
.formOrdenCompra input[type='number'],
.formOrdenCompra input[type='tel'],
.formOrdenCompra select {
    background-color: #555;
    font-size: 14px;
    color: #ddd;
    border-radius: 8px;
    margin: 5px 0;
    padding: 8px;
    width: 100%;
}

.formOrdenCompra label {
    font-size: 16px;
}

.Departamentos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.btnE {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.btnE input[type='submit'] {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.detallesPedido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 10px;
}

.table-responsive {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

table th {
    background-color: #555;
    color: white;
}

.titulo{

    margin: 10px;

}
.titulo h1{
    padding: 10px;
    background-color: #555;
    width: auto;
    color: #f1f1f1;
    border-radius: 8px;
}

footer{
    position: relative;
}

@media (min-width: 768px) {
    .contenedorPrincipal {
        flex-direction: row;
    }
    .formOrdenCompra {
        width: 45%;
    }
    .detallesPedido {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .contenedorPrincipal {
        align-items: center;
        padding: 0 50px;
    }
}
